*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
	margin:auto;
	width:100%;
}
.section{
	background:url("image/hero-bg.jpg");
    padding:70px;
	background-size:cover;
	background-attachment:fixed;
}
.heading1 .button{
	text-align:center;
}
.row{
	display:flex;
	background-color:#000;	
}
.nav-icon{
	color:#fff;
	text-align:center;
}
.column101{
	width:70%;
}
.row100{
	display:flex;
	justify-content:center;
}


.button{
	margin-left:42%;
}
.easy{
	text-align:center;
}
.column{
	display:flex;
	justify-content:space-between;
	padding:25px;
	position:fixed;
	top:0;
	width:100%;
	background-color:#052c3fcc;
	left:0;
	z-index:1;
}
h1{
	color:white;
	padding:10px;
}

ul{
	display:flex;
}


li{
	list-style:none;
	padding:15px;
}

a{
	text-decoration:none;
	color:white;	
}
.navbar{
	padding-right:130px;
}
a:hover{
	color:blue;
}
h3,h4{

	padding:10px;
}
.heading1{
	padding-top:30px;
	font-size:2rem;
	padding-bottom:30px;
	color:white;
}
.button{
	border:2px solid #85b0be;
	padding:12px;
	display:inline-block;
	
}
.header{
	text-align:center;
	}
.container1{
	margin:auto;
	width:95%;
}
.section1{
	padding:100px;
}
.column1{
	font-size:2rem;
	width:50%;
}

h3{
	font-size:40px;
}
span{
	color:#4d8090;
}
.row1{
	display:flex;
	
}
.col1{
	width:50%;
}
.col2{
	font-size:20px;
}
.col3{
	font-size:20px;
}
.para1,.para2,.para3{
	padding:10px;
}
.section2{
	padding-top:100px;
}
.container2{
	margin:auto;
	width:100%;
}
.column2{
	text-align:center;
	font-size:25px;
	
}
.section2para{
	text-align:center;
	font-size:20px;
}
.service11{
	font-size:30px;
	height:80px;
	width:80px;
	padding:20px;
	border:2px solid #85b0be;
	border-radius:50%;
	color:#85b0be;
	align-items:center;
	justify-content:center;
	display:flex;
}
.service{
	display:flex;
	width:33.3%;
	padding:60px;
	gap:5%;
}
.service2{
	display:flex;
	width:33.3%;
	padding:60px;
	gap:5%;
}
.service23{
	font-size:30px;
	height:80px;
	width:80px;
	padding:20px;
	border:2px solid #85b0be;
	border-radius:50%;
	color:#85b0be;
	align-items:center;
	justify-content:center;
	display:flex;
}
.service3{
	display:flex;
	width:33.3%;
	padding:60px;
	gap:5%;
}
.service31{
	font-size:30px;
	height:80px;
	width:80px;
	padding:20px;
	border:2px solid #85b0be;
	border-radius:50%;
	color:#85b0be;
	align-items:center;
	justify-content:center;
	display:flex;
}
.service4{
	display:flex;
	width:33.3%;
	padding:60px;
	gap:5%;
}
.service41{
	font-size:30px;
	height:80px;
	width:80px;
	padding:20px;
	border:2px solid #85b0be;
	border-radius:50%;
	color:#85b0be;
	align-items:center;
	justify-content:center;
	display:flex;
}
.service5{
	display:flex;
	width:33.3%;
	padding:60px;
	gap:5%;
}
.service51{
	font-size:30px;
	height:80px;
	width:80px;
	padding:20px;
	border:2px solid #85b0be;
	border-radius:50%;
	color:#85b0be;
	align-items:center;
	justify-content:center;
	display:flex;
}
.service6{
	display:flex;
	width:33.3%;
	padding:60px;
	gap:5%;
}
.service61{
	font-size:30px;
	height:80px;
	width:80px;
	padding:20px;
	border:2px solid #85b0be;
	border-radius:50%;
	color:#85b0be;
	align-items:center;
	justify-content:center;
	display:flex;
}
.ser{
	display:flex;
	flex-wrap:wrap;
}
.column2{
	padding:20px;
}
.section3{
	padding-top:100px;
	margin-bottom:30px;
}
.container3{
	margin:auto;
	width:90%;
}
img{
	max-width:100%;
}
.row3{
	display:flex;
}
.column3{
	padding:20px;
    text-align:center;
}
.column31{
	padding:20px;
	text-align:center;

}
.column32{
	padding:20px;
	text-align:center;
}
.explore11{
	font-size:20px;
	padding:10px;
}
.explore12{
	font-size:20px;
	border:2px solid #85b0be;
	padding:10px;
	color: #85b0be;
}
.explore12:hover{
	color:white;
	background-color:#85b0be;
	cursor:pointer;
}
	
.explore21{
	font-size:20px;
	padding:10px;
}
.explore22{
	font-size:20px;
	border:2px solid #85b0be;
	padding:10px;
	color: #85b0be;
}
.explore22:hover{
	color:white;
	background-color:#85b0be;
	cursor:pointer;
}
.explore31{
	font-size:20px;
	padding:10px;
}
.explore32{
	font-size:20px;
	border:2px solid #85b0be;
	padding:10px;
	color: #85b0be;

}
.explore32:hover{
	color:white;
	background-color:#85b0be;
	cursor:pointer;
}
.container4{
	margin:0 auto;
	width:100%;
}
.sem-img{
	display:flex;
	justify-content:center;
}
.sem-img img{
	max-width:100%;
	border-radius:50%;
    padding:10px;
}
.row4{
	text-align:center;
	padding-top:80px;
	padding-bottom:150px;
}
.row4 img{    
	max-width:10%;
}
.name1000 h1{
	color:#fff;
	padding:5px;
}
.name1000 p{
	color:#fff;
}
.para1000 p{
	color:#fff;
	
}
.para1000{
	display:flex;
	padding:10px;
}
.para1000 i{
	color:fff;
}
.section4{
	background:url("image/testimonials-bg.jpg");
	height:460px;
	margin-bottom:50px;
}
.container5{
	margin:0 auto;
	width:85%;
}
.section5{
	margin-top:60px;
}
.portfoliopara{
	text-align:center;
	font-size:25px;
}
.portfolio1{
	display:flex;
	justify-content:center;
}   
.portfolio1:hover{
	color:#85b0be;
}
.port{
	padding:10px;
	padding-top:40px;

}
.img1{
	width:33.3%;
	padding:20px;
}
.image{
	display:flex;
	flex-wrap:wrap;
}
.container6{
	margin:0 auto;
	width:85%;
}
.section6{
	margin-top:100px;
	background-color:#f6f9fa;
    z-index:-1;
	
}
.column6{
	text-align:center;
}
.team1{
	font-size:30px;
	padding:10px;
}
.team2{
	font-size:20px;
	padding:10px;
}
.teamimage{
    
	display:flex;

}
.teamimage1{
	
	
}
.teampara1{
	padding:25px 37px;
	text-align:center;
	background-color:white;
	
	box-shadow:5px 5px 5px 5px #00000024;
	
}
.paragraph{
	padding:10px;
	color:#aaaaaad6;
}
.teamimage2{
	
}
.teampara2{
	padding:25px 47px;
	text-align:center;
	background-color:white;

	box-shadow:5px 5px 5px 5px #00000024;
}
.teamimage3{
	
}
.teampara3{
	padding:25px 31px;
	text-align:center;
	background-color:white;
	
	box-shadow:5px 5px 5px 5px #00000024;
	
}
.teampara3 h2{
	font-size: 23px;
}
.teamimage4{
	
}
.teampara4{
	padding:25px 41px;
	text-align:center;
	background-color:white;
	
	box-shadow:5px 5px 5px 5px #00000024;

	
}
.teamimg1{
	padding:20px;
}
.teamimg2{
	padding:20px;
}
.teamimg3{
	padding:20px;
}
.teamimg4{
	padding:20px;
}

.section7{
	margin-top:100px;
	
}
.container7{
	margin:0 auto;
	width:80%;
}
.column7{
	padding-top:100px;
	text-align:center;
}
.pricinghead{
	font-size:20px;
	padding:10px;
}
.pricingpara{
	font-size:20px;
	padding:10px;
}
.pricing2{
	text-align:center;
	width:33.3%;
    padding:40px;
	background-color:#f9f9f9;
}
.pricingh{
	padding:20px;
}
.pricingpara1{
	padding:10px;
	font-size:30px;
	color:#85b0be;
	
}
.pricingspan{
	font-size:10px;
}
.pricingpara2{
	padding;5px;
}
.pricingpara2 p {
	padding:10px;
}
del{
	padding:10px;
	color:#ccc;
}
.pricingpara3{
	line-height:40px;
}
.pricingbutton{
	padding:10px;
    width:100px;
	background-color:#85b0be;
	border-radius:5px;
	margin:auto;
	
}
.pricing3{
	text-align:center;
	width:33.3%;
    padding:40px;
	background-color:#eff5f7;
}
.pricingh1{
	padding:20px;
}
.pricingpara4{
	padding:10px;
	font-size:30px;
	color:#85b0be;
}
.pricingspan1{
	font-size:10px;
}
.pricingpara5{
	padding;5px;
}
.pricingpara5 p {
	padding:10px;
}
.pricingpara6{
	line-height:40px;
}
.pricingbutton1{
	padding:10px;
    width:100px;
	background-color:#85b0be;
	border-radius:5px;
	margin:auto;
	}
.pricing4{
	text-align:center;
	width:33.3%;
    padding:40px;
	background-color:#f9f9f9;
}
.pricingh2{
	padding:20px;
}
.pricingpara7{
	padding:10px;
	font-size:30px;
	color:#85b0be;
}
.pricingspan2{
	font-size:10px;
}	
.pricingpara8{
	padding;5px;
}
.pricingpara8 p {
	padding:10px;
}
.pricingbutton2{
	padding:10px;
    width:100px;
	background-color:#85b0be;
	border-radius:5px;
	margin:auto;
	}
.pricingflex{
	display:flex;
}
.section8{
	margin-top:100px;
	
}
.container8{
	margin:0 auto;
	width:85%;
}
.column8{
	text-align:center;
	font-size:40px;
	padding:10px;
}
.asked1{
	width:50%;
	padding:20px;
	display:flex;
}
.askedicon1{
	color:#85b0be;
	font-size:30px;
	padding:20px;
}
.askedpara1{
	font-size:20px;
}
.asked2{
	width:50%;
	padding:20px;
	display:flex;
}
.askedpara2{
	font-size:20px;
}
.asked3{
	width:50%;
	padding:20px;
	display:flex;
}
.askedpara3{
	font-size:20px;
}
.asked4{
	width:50%;
	padding:20px;
	display:flex;
}
.askedpara4{
	font-size:20px;
}
.asked5{
	width:50%;
	padding:20px;
	display:flex;
}
.askedpara5{
	font-size:20px;
}
.asked6{
	width:50%;
	padding:20px;
	display:flex;
}
.askedpara6{
	font-size:20px;
}
.asked{
	display:flex;
	flex-wrap:wrap;
}
.container9{
	width:90%;
}
.section9{
	margin-top:80px;	
}
.column9{
	text-align:center;
	padding:20px;
}
.column9 h2{
	padding:10px;
}
.section10{
	margin-top:100px;	
}
.container10{
	margin:0 auto;
	width:60%;
}
.row10{
	display:flex;
	padding:20px;
	background-color:#fff;
	box-shadow:0px 2px 15px #0080008a;
}
.column100{
	width:33.3%;
}
.lasticon{
	display:flex;
}
.iconlast{
	font-size:20px;
	color:#85b0be;
	margin-top:18px;
	height:40px;
	width:40px;
	border-radius:50%;
	align-items:center;
	justify-content:center;
	display:flex;
}
.iconlast:hover{
	color:#fff;
	background-color:#85b0be;
}
.lasthead{
	font-size:25px;
	margin-top:12px;
}
.lastpara p{
	color:#0d6e9e;
    margin-left:45px;
}
.column110{
	width:33.3%;
	
}
.lasticon1{
	display:flex;
}
.iconlast1{
	font-size:20px;
	color:#85b0be;
	margin-top:18px;
	height:40px;
	width:40px;
	border-radius:50%;
	align-items:center;
	justify-content:center;
	display:flex;
}
.iconlast1:hover{
	color:#fff;
	background-color:#85b0be;
}
.lasthead1{
	font-size:25px;
	margin-top:12px;
}
.lastpara1 p{
	color:#0d6e9e;
    margin-left:40px;
	
}
.column120{
	width:33.3%;
	
}
.lasticon2{
	display:flex;
	
}
.iconlast2{
	font-size:20px;
	color:#85b0be;
	margin-top:18px;
	height:40px;
	width:40px;
	border-radius:50%;
	align-items:center;
	justify-content:center;
	display:flex;
}
.iconlast2:hover{
	color:#fff;
	background-color:#85b0be;
}
.lasthead2{
	font-size:25px;
	margin-top:12px;
}
.lastpara2 p{
	color:#0d6e9e;
    margin-left:40px;
}
.section11{
	margin-top:100px;	
}
.container11{
	margin:0 auto;
	width:60%;
}
.column11{
	display:flex;
	width:100%;
}
.row11{
	padding:20px;
	background-color:#fff;
	box-shadow:0px 2px 15px #0080008a;
}
.form1{
	width:50%;
	padding:10px;
}
.form1 input{
	width:100%;
	padding:10px;
	border:1px solid black;
}
.form2{
	width:50%;
	padding:10px;
}
.form2 input{
	width:100%;
	padding:10px;
	border:1px solid black;
}
.form3{
	width:100%;
	padding:10px;
}
.form3 input{
	width:100%;
	padding:10px;
	border:1px solid black;
}
.form4{
	width:100%;
	padding:10px;
}
.form4 textarea{
	width:100%;
	padding:10px;
	border:1px solid black;
}
.formbutton{
	   margin-top:20px;
	   text-align:center;
}
.formbutton a{
	border-radius:2px;
	padding:10px 20px;
	text-align:center;
	background-color:#85b0be;
	color:#fff;
    cursor:pointer;

}
.section12{
	margin-top:100px;
    background:url("image/footer-bg.jpg");   	
	height:470px;
}
.container12{
	margin:0 auto;
	width:80%;
}
.column22{
	color:#fff;
	text-align:center;
	padding-top:40px;
}
.column22 h4{
	font-size:40px;
}
.column22 p{
	font-size:15px;
}
.footer1{
	width:50%;
	display:flex;
	justify-content:center;
}
.footer1 input{
    width:100%;
	padding:10px;
}
.footer1 button{
	padding:10px;
	width:100px;
	color:#fff;
	background-color:#85b0be;
	cursor:pointer;
	border:1px solid #85b0be;
}
.footer1 button:hover{
	background-color:#85b0bec2;
}
.footericon{
      display:flex;
	  }
.row12{
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.footericon{
	padding:10px;
	color:#fff;
	display:flex;
	justify-content:center;
}
.footericon i{
	font-size:20px;
	color:#ffff;
	margin-left:12px;
	height:40px;
	width:40px;
	background-color:#85b0be;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
}
.footericon i:hover{
	background-color:#85b0bec2;
	cursor:pointer;
}
.copyright{
	text-align:center;
	color:#fff;
	padding:60px;
}
.copyright strong{
	font-size:30px;
	color:#ffcc66;
	cursor:pointer;
}
.copyright strong:hover{
	color:red;
}
.finish{
	
	color:#fff;
	font-size:20px;
	border-radius:2px;
	background-color:#85b0be;
	height:40px;
	width:40px;
	display:flex;
	align-items:center;
	justify-content:center;
	right:0;
	bottom:0;
	position:fixed;
	
}
@media(min-width:320px){
	.container{
		margin:auto;
		width:100%;
	}
	.column101{
		width:100%;
	}
	.row100{
		display:flex;
		flex-wrap:wrap;
	}
	.nav-icon{
		display:block;
	}
	.row{
		display:none;
	}
	.section{
		padding:20px;
	}
	.section1{
		padding:20px 20px;
	}
	.container1{
		width:100%;
	}
	.row1{
		display:flex;
		flex-wrap:wrap;
	}
	.button{
	    margin-left:28%;
    }
	.col1{
		width:100%;
	}
	.column1{
		width:100%;
	}
	.container2{
		margin:auto;
		width:100%;
	}
	.service{
		width:100%;
		padding:35px;
	}
	.service2{
		width:100%;
		padding:35px;
	}
	.service3{
		width:100%;
		padding:35px;
	}
	.service4{
		width:100%;
		padding:35px;
	}
	.service5{
		width:100%;
		padding:35px;
	}
	.service6{
		width:100%;
		padding:35px;
	}
	.column2{
		text-align:center;
	}
	.container3{
		width:90%;
	}
	.row3{
		display:flex;
		flex-wrap:wrap;
	}
	.column3{
		padding:10px;
	}
	.explore1 img{
		max-width:100%;
	}
	.container4{
		width:100%;
	}
	.row4 img {
       max-width: 30%;
    }
	.container5{
		width:90%;
	}
	.img1{
		width:100%
	}
    .container6{
		width:90%
	}
	.teamimg1{
		width:100%;
	}
	.teampara1{
		padding:
	}
	.teamimg2{
		width:100%;
	
	}
	
	.teampara2{
		padding:
	}
	.teamimg3{
		width:100%;
		
	}
	.teampara3{
		padding:
	}
	.teamimg4{
		width:100%;
		
	}
	.teampara4{
		padding:
	}
	.teamimage{
		display:flex;
		flex-wrap:wrap;
	}
	.container7{
		width:90%;
	}
	.pricingflex{
		display:flex;
		flex-wrap:wrap;
	}
	.pricing2{
		width:100%
	}
	.pricing3{
		width:100%;
	}
	.pricing4{
		width:100%;
	}
	.container8{
		width:90%;
	}
	.asked{
		display:flex;
		flex-wrap:wrap;
	}
	.asked1{
		width:100%;
	}
	.asked2{
		width:100%;
	}
	.asked3{
		width:100%;
	}
	.asked4{
		width:100%;
	}
	.asked5{
		width:100%;
	}
	.asked6{
		width:100%;
	}
	.container9{
		width:100%;
	}
	.column9{
		width:100%;
	}
	
	.row9{
		display:flex;
		flex-direction:column;
		overflow:hidden;
	}
	.container10{
		width:80%;
	}
	.row10{
		display:flex;
		flex-wrap:wrap;
	}
	.column100{
		width:100%;
	}
	.column110{
		width:100%
	}
	.column120{
		width:100%;
	}
	.container11{
		width:80%;
	}
	.column11{
		display:flex;
		flex-wrap:wrap;
	}
	.form1{
		width:100%;
	}
    .form2{
		width:100%;
	}
	.container12{
		width:100%;
	}
	
	
}
@media(min-width:690px){
	.container{
		margin:auto;
		width:100%;
	}
	.column101{
		width:100%;
	}
	.row100{
		display:flex;
		flex-wrap:wrap;
	}
	.section{
		padding:50px;
	}
	.nav-icon{
		display:none;
	}
	.row{
		display:flex;
	}
	.section1{
		padding:100px;
	}
	.container1{
		width:100%
	}
	.row1{
		display:flex;
		flex-wrap:wrap;
	}
	.button{
	   margin-left:42%;
    }
	.col1{
		width:50%;
	}
    .column1{
		width:50%;
	}
	.container2{
		width:100%;
	}
	.column2{
		text-align:center;
	}
	.service{
		width:50%;
	}
	.service2{
		width:50%;
	}
	.service3{
		width:50%;
	}
	.service4{
		width:50%;
	}
	.service5{
		width:50%;
	}
	.service6{
		width:50%;
	}
	.container3{
		width:90%;
	}
	.row3{
		display:flex;
		flex-direction:column;
	}
	.column3{
		padding:20px;
	}
	.explore1 img{
		max-width:100%;
	}
	.container4{
		width:100%;
	}
	.row4 img {
       max-width: 12%;
    }
	.container5{
		width:90%;
	}
	.img1{
		width:50%;
	}
	.container6{
		width:90%
	}
	.teamimg1{
		width:50%;
	}
	.teampara1{
		
	}
	.teamimg2{
		width:50%;
	}
	.teampara2{
		
	}
	.teamimg3{
		width:50%;
	}
	.teampara3{
	    
	}
	.teamimg3{
		
	}
	.teamimg4{
		width:50%;
	}
	.teampara4{
		
	}
   .teamimg4{
	    
    }
	.teamimage{
		display:flex;
		flex-wrap:wrap;
	}
	.container7{
		width:90%;
	}
	.pricingflex{
		display:flex;
		flex-wrap:wrap;
	}
	.pricing2{
		width:100%
	}
	.pricing3{
		width:100%;
	}
	.pricing4{
		width:100%;
	}
	.container8{
		width:90%;
	}
	.asked{
		display:flex;
		flex-wrap:wrap;
	}
	.asked1{
		width:100%;
	}
	.asked2{
		width:100%;
	}
	.asked3{
		width:100%;
	}
	.asked4{
		width:100%;
	}
	.asked5{
		width:100%;
	}
	.asked6{
		width:100%;
	}
	.container9{
		width:100%;
	}
	.column9{
		width:100%;
	}	
	.row9{
		display:flex;
		flex-direction:column;
		overflow:hidden;
	}
	.container10{
		width:80%;
	}
	.row10{
		display:flex;
		flex-wrap:wrap;
	}
	.column100{
		width:100%;
	}
	.column110{
		width:100%
	}
	.column120{
		width:100%;
	}
	.container11{
		width:80%;
	}
	.column11{
		display:flex;
		flex-wrap:wrap;
	}
	.form1{
		width:100%;
	}
    .form2{
		width:100%;
	}
	.container12{
		width:100%;
	}
		
}
@media(min-width:1020px){
	.container1{
		margin:auto;
		width:100%;
	}
	.column101{
		width:100%;
	}
	.row100{
		display:flex;
		flex-wrap:wrap;
	}
	.section{
		padding:70px;
	}
	.row{
		display:flex;
	}
	.nav-icon{
		display:none;
	}
	.section1{
		padding:100px;
	}
	.container1{
		width:95%
	}
	.row1{
		display:flex;
	}
	.button{
	   margin-left:42%;
    }
	.col1{
		width:50%;
	}
	.column1{
		width:50%;
	}
	.container2{
		width:100%;
	}
	.column2{
		text-align:center;
	}
	.service{
		display:flex;
		width:33.3%;
	}
	.service2{
		display:flex;
		width:33.3%;
	}
	.service3{
		display:flex;
		width:33.3%;
	}
	.service4{
		display:flex;
		width:33.3%;
	}
	.service5{
		display:flex;
		width:33.3%;
	}
	.service6{
        display:flex;
		width:33.3%;
	}
	.container3{
		width:90%;
	}
	.row3{
		display:flex;
		flex-direction:row;
	}
	.column3{
		padding:20px;
	    width:33.3%;
	}
	.column31{
		padding:20px;
		width:33.3%;
	}
	.column32{
		padding:20px;
		width:33.3%;
	}
	.explore1 img{
		max-width:100%;
	}
	.ser{
		display:flex;
		flex-wrap:wrap;
	}
	.container4{
		width:100%;
	}
	.row4 img {
       max-width: 10%;
    }
	.container5{
		width:85%;
	}
	.img1{
		width:33.3%;
	}
	.container6{
		width:90%
	}
	.teamimg1{
		width:20%;
	}
	.teampara1{
		padding:5px 10px;
	}
	.teamimg2{
		width:20%;
	}
	.teampara2{
		padding:5px 10px;
	}
	.teamimg3{
		width:20%;

	}
	.teampara3{
		padding: 5px 10px;
		
	}
	.teamimg4{
		width:20%;
	}
	.teampara4{
		padding:5px 18px;
	}
	.teamimage{
		display:flex;
		justify-content:center;
	}
	.container7{
		width:80%;
	}
	.pricingflex{
		display:flex;
		
	}
	.pricing2{
		width:33.3%;
	}
	.pricing3{
		width:33.3%;
	}
	.pricing4{
		width:33.3%;
	}
	.container8{
		width:90%;
	}
	.asked{
		display:flex;
		flex-wrap:wrap;
	}
	.asked1{
		width:50%;
	}
	.asked2{
		width:50%;
	}
	.asked3{
		width:50%;
	}
	.asked4{
		width:50%;
	}
	.asked5{
		width:50%;
	}
	.asked6{
		width:50%;
	}
	.container9{
		width:100%;
	}
	
	.container10{
		width:60%;
	}
	.row10{
		display:flex;
		padding:30px;
	}
	.column100{
		width:33.3%;
	}
	.column110{
		width:33.3%
	}
	.column120{
		width:33.3%;
		
	}
	.container11{
		width:60%;
	}
	.column11{
		display:flex;
		
	}
	.form1{
		width:50%;
	}
    .form2{
		width:50%;
	}
	.container12{
		width:100%;
	}
}
